body {
  background-color: #00875140;
  background-size: cover;
  background-position: 0%;
  list-style: 1.2;
}

.vote-word{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1rem ;
  padding-bottom: 0.5rem;
}

.vote-word h2{
  font-size: 2.5rem;
  font-weight: 900;
}

.vote-word h3{
  font-size: 1.5rem;
  font-weight: 200;
  font-family:sans-serif
}

.vote-content{
  margin: 2rem 0;
}

.vote-header{
  text-transform: uppercase;
  font-size: 2rem;
  color:#008756;
  text-align: center;
  font-weight: 200;
  margin: 0.5rem;
}

.candidate-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem;
}

.candidate-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 200px;
  height: 260px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px rgb(10, 241, 122);
  background: #FFF;
}

.image {
  height: 150px;
  width: 160px;
  border-radius: 2%;
}

.candidate-profile button {
  background-color: #008756;
  padding: 0.5rem;
  border-radius: 7px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.candidate-profile button:hover {
  font-size: 15px;
}

/* modal for vote  */
.modal{
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vmodal-content{
  cursor: pointer;
  background-color: #fefefe;
  margin: 10rem auto 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 14px #333;
  width: 280px;
}

.modal-btn{
  padding: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.btn-dark{
  background-color: #333;
}

.btn-green:hover{
  color: #333333;
  background: #76e0b6;
}

.btn-dark:hover{
  color: #333333;
  background:#f4cccc;
}


.modal h3{
  text-align: center;
  padding-bottom: 1.5rem;
}

/* media  */
@media(max-width:500px){
  #vote{
    line-height: 1.01;
  }

 .vote-word h2{
   font-size: 2rem;
  }

  .vote-word h3{
    font-size: 1rem;
  }

  .vote-header{
    font-size: 1rem;
  }

  .candidate-details{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.3rem;
    margin: auto;
  }

  .candidate-profile{
    padding: 1rem;
    width: 170px;
    height: 200px;
    margin-top: 0.5rem;
  }

  .image{
    height: 100px;
    width: 110px;
  }

  .vote-content h3{
    font-size: 1rem;
  }
}

@media(min-width:501px) and (max-width:768px){
  .candidate-details{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}